.btn-primary{
    color: #ffff;
    background-color: #B68C5A;
    border-color: #B68C5A;
}
.btn-secondary{
    color: #B68C5A;
    background-color: #fff;
    border-color: #B68C5A;
}

.custom-icon{
    font-size: 40px;
    width: 40px;
    height: 40px;
  }

.banner-img-1{
    background-image: url("../images/slider-1.jpg"), linear-gradient(to right, rgba(0,0,0,0.8), rgba(51,51,51,0.8));
    height: 70vh;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(90%) saturate(55%);
}
.banner-img-2{
    background-image: url("../images/slider-2.jpg"), linear-gradient(to right, rgba(0,0,0,0.8), rgba(51,51,51,0.8));
    height: 70vh;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(90%) saturate(55%);
}
.banner-img-3{
    background-image: url("../imagES/slider-3.jpg"), linear-gradient(to right, rgba(0,0,0,0.8), rgba(51,51,51,0.8));
    height: 70vh;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(90%) saturate(55%);
}


.back-img{
    background-image: url('../images/banner.png');
    height:35rem;
    background-size: cover;
}
.back-color{
  background: linear-gradient(180deg, #F3F3F3 0%, rgba(243, 243, 243, 0) 100%);
}
